.answerBox{
    background-color: #2e2f3d;
    color: #43ab02;
    font-family: digitaldream;
    font-size: xx-large;
    display: inline-block;
    margin: auto;
    margin-bottom: 20px;
    margin-left: 5px;
    border-radius: 3px;
    padding: 15px;
}

body {
    background-image: url('../images/brushedsteel.jpg');
  }

.successHeading {
    margin: "auto";
    width: "100%";
    background-color: #52e290;
    margin-right: 30%;
    margin-left: 30%;
    border-radius: 5px;
    padding: 10px;
    border: 2px green solid;
}

@font-face {
    font-family: digitaldream;
    src: url(/font/DIGITALDREAMFAT.tff);
}

@font-face {
    font-family: 'digitaldream';
    src: local('digitaldream'), url('../fonts/DIGITALDREAMFAT.ttf') format('truetype');
}

.digitalFont {
    font-family: digitaldream;
}

.digitalClock {
    color: #b80404;
}