.btnStyle {    
    height: 50px;
    width: 10%;
    color: white; 
    background-color: black;
    cursor: pointer;
    margin: 5px;
    border-radius: 3px;
    border: solid 2px darkgray;
    box-shadow: black 4px 6px 1px;
    transition: .2s;

}
.btnStyle:focus {
    box-shadow: black 0px 0px 0px;
    transition: .2s;
}