.btnStyle {    
    height: 50px;
    width: 10%;
    color: black; 
    background-color: #d4d4d4;
    cursor: pointer;
    margin: 5px;
    border-radius: 20px;
    border: solid 2px darkgray;
    box-shadow: black 3px 3px 2px;
}